body {
    background-color:  rgb(245, 241, 241);
    display: flex;
    justify-content: center;
}
.search{
    text-align: center;
    width: 450px;
    margin-top: 100px;
    border: 1px solid black;
    padding: 30px;
}
#header {  
  text-align: center;
}
#dropdown {
    margin-right: 10px;
}
.button {
    margin-left: 10px;
}
.labels {
    display: inline-block;
    margin-left: 30px;

}
.post {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.results_dash {
    display: flex;
    justify-content: center;
}